*{
  background-color: bisque;
}
button{
  background-color: rgb(67, 13, 3);
  color: white;
  padding:15px;
  border-radius:20px;
  font-weight:bold;
  border:none;
}
button:hover{
  background-color: rgb(87, 81, 81);
}


